@{
    ViewBag.Titre = "À Propos";
}

<hgroup class="title">
    <h1>@ViewBag.Titre.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        RISTOURNE, financement à la carte, est une entreprise sociale fondée par deux enseignants du secondaire.
    </p>

    <p>
        Michel Gendron et Serge Dupré. Nous avons plus d'une quinzaine d'années d'expérience dans le domaine du financement
        tant au niveau de levées de fonds pour des fondations qu'au niveau de campagnes de financement pour les écoles.
    </p>

    <p>
        Après avoir vendu une panoplie de produits pendant des années (Chocolats, café, cartes à gratter, billets de tirage, etc.)
        pour amasser des fonds, nous avons cherché à trouver une solution de financement différente et plus efficace.
    </p>
</article>

<article>
    <h3>Motivation</h3>
    <p>
        Notre motivation était que toutes les parties impliquées (ORGANISMES, PARTICIPANTS, SUPPORTEURS, ADMINISTRATEURS et FOURNISSEURS)
        y trouvent leur compte. Et nous avons réussi !
    </p>
    <p>
        L'idée d'utiliser des cartes prépayées (cartes-cadeaux) pour faire nos achats quotidiens (épicerie, essence, quincaillerie...)
        nous est apparue géniale ! 
    </p>
    <p>
        Nous nous sommes alors mis à la recherche de partenaires d'affaires pour nous aider à réaliser notre idée.
    </p>
    <p>
        Nous nous sommes entendus avec de nombreux marchands populaires (MAXI, ESSO, SAQ, etc.) pour obtenir une remise sur l'achat en gros de leurs
        cartes prépayées et ainsi pouvoir retourner des RISTOURNES intéressantes aux organismes qui sollicitent nos services.
    </p>
</article>