@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Erreure.</h1>
        <h2>Une erreure est survenue en procédant à votre requête.</h2>
    </hgroup>
</body>
</html>